body {
    background: url(../media/Servicio2.png);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center 50%;
    background-attachment: fixed;
}

.sect_2 {
    flex-direction: row;
    background: #ffffff;
    padding: 80px 19%;
}

.sect_2 div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 40px;
}

.sect_2 div p {
    font-weight: 100;
}

.sect_2 img {
    height: 390px;
    width: 676px;
}

.sect_3 {
    background: #9BBFD0;
    padding: 80px 25%;
    gap: 30px;
}

.sect_3 h3 {
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 1.125rem;
    font-family: "Poppins", sans-serif;
    line-height: 55px;
}

.sect_3 h3:nth-of-type(2) {
    width: 84%;
    font-size: 1.875rem;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 0px;
    font-family: "Didact Gothic", sans-serif;
}

.sect_3 p {
    text-align: center;
    font-weight: 500;
    color: #fff;
}

.sect_3 a:nth-of-type(1) {
    margin: -30px 0;
}

.sect_3 a:nth-of-type(2) {
    background: #fff;
    color: #9BBFD0;
    border: 1px solid transparent;
}

.sect_3 a:nth-of-type(2):hover {
    background: none;
    color: #fff;
    border: 1px solid #fff;
}

.sect_4 {
    flex-direction: row;
    background: #F2F3F9;
    padding: 0;
    height: auto;
}

.sect_4 img {
    height: 100%;
    width: 50%;
}

.sect_4 div {
    width: 50%;
    padding: 20px 8%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sect_4 div p {
    font-weight: 100;
}

.sect_4 div p:nth-of-type(1) {
    font-size: 1.25rem;
    font-weight: 600;
}

.sect_5 {
    background: #ffffff;
    gap: 10px;
}

.sect_5 p {
    width: 50%;
    text-align: center;
}

.sect_5 img {
    height: 650px;
    width: 1160px;
    margin-top: 10px;
}

.sect_6 {
    flex-direction: row;
    background: #F2F3F9;
    padding: 0;
}

.sect_6 div {
    width: calc(100%/3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 3%;
    gap: 20px;
}

.sect_6 div:nth-of-type(2) {
    background: #fff;
    transition: background 0.3s ease;
}

.sect_6 div:nth-of-type(2):hover {
    background: #fffFfF70;
    transition: background 0.3s ease;
}

.sect_6 div img {
    height: 50px;
}

.sect_6 div a {
    font-family: "Poppins", sans-serif;
    color: #000;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease;
}

.sect_6 div a span {
    height: 2px;
    width: 20px;
    background: #000;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.sect_6 div a:hover {
    color: #bf3f8a;
    width: fit-content;
    transition: all 0.3s ease !important;
}

.sect_6 div a:hover span {
    width: 100%;
    background: #bf3f8a;
    transition: all 0.3s ease;
}

.sect_6 div p {
    text-align: center;
    line-height: 30px;
    font-size: 0.875rem;
}

.sect_7 {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sect_7 h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

.slider-container {
    width: 1200px;
    overflow: hidden;
}

.slider-track {
    display: flex;
    width: calc(300px * 8);
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
}